 <launch>
    <node pkg="rpi_ros_car" type="obstacle_avoid.py" name="obstacle_avoid" output="screen"/>
    <node pkg="rpi_ros_car" type="dist_listener.py" name="dist_listener" />
    <node pkg="rosbag" type="record" name="distance" args="-O /home/pi/catkin_ws/src/rpi_ros_car/src/bagfiles/distance.bag /distance_msg"/> 
    <node pkg="rosbag" type="record" name="distance_filt" args="-O /home/pi/catkin_ws/src/rpi_ros_car/src/bagfiles/filt_distance.bag /dist_filt_msg"/>
</launch>